@charset "utf-8";



/*----------------------------- BASE -----------------------------*/

html {
  font-size: 62.5%; /*10px(root)*/
  overflow-y: scroll;
}

img,
iframe {
  width: 100%;
}

a {
  color: rgb(0, 163, 175);
}

body {
  font-size: 1.3rem; /*basic(14px)*/
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  text-align: justify;
  word-break: break-all;

  line-height: 1.7;
  color: #D3D3D3;
  background-color: #292929;
}



/*----------------------------- HEADER -----------------------------*/


header {
  display: flex;
  position: relative;
  justify-content: flex-end;
  margin: 10px 10px 0;
}

header .site-title {
  margin-right: 10px;
}

header >:nth-child(2) {
  margin-right: auto;
}

header .lang-switcher ul {
  display: flex;
}
header .lang-switcher ul li:first-child {
  margin-right: 10px;
}

header nav.typical-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  header nav.typical-menu {
    display: inline;
  }
  header nav.typical-menu ul {
    display: flex;
  }
  header nav.typical-menu ul li {
    margin-left: 10px;
  }
  header nav.typical-menu ul li:first-child {
    margin-left: 0;
  }
}

header #ham-menu-icon {
  margin-left: 10px;
}




/*----------------------------- HAMBURGUR_MENU -----------------------------*/


header #ham-menu-cb {
  display: none;
}

header #ham-menu-icon {
  display: block;
  cursor: pointer;
}

header nav.ham-menu {
  opacity: 0;
  display: block;
  position: absolute;
  pointer-events: none;
  top: 45px;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-o-transform: translate(-50%,0);
	transform: translate(-50%,0);
	text-align: center;
  z-index: 1000;
}

header #ham-menu-bg {
  opacity: 0;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.99);
  display: block;
  position: fixed;
  z-index: -1;
  /*transition: all 0s linear 0s;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

header #ham-menu-cb:checked ~ .ham-menu {
  opacity: 1.0;
  pointer-events: all;
}

header #ham-menu-cb:checked ~ #ham-menu-bg {
    opacity: 0.9;
    z-index: 999;
    pointer-events: all;
}



/*----------------------------- MAIN -----------------------------*/


#main {
  display: block;
  margin: 100px 5% 0;
}
@media screen and (min-width: 768px) {
  #main {
    width: calc(768px * 0.9);
    margin: 100px auto 0;
  }
}

#main .page-title {
  /*font-size: 1.6rem;
  margin-bottom: 10px;*/
}

#main .updated-date {
  opacity: 0.6;
  /*font-size: 1.2rem;
  margin-bottom: 10px;*/
}



/*----------------------------- MAIN INDEX -----------------------------*/


#index #main .text {
  margin-bottom: 6px;
}



/*----------------------------- MOVIE PLAY-CIRCLE -----------------------------*/


#index #main .movie .fa-play-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	font-size: 80px;
	color: #C3C3C3;
	pointer-events: none;

  z-index: 4;
}



/*----------------------------- SQUARE TRIM. -----------------------------*/


#index #main .movie ul,
#index #main .design ul,
#index #main .blog ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#index #main .square-wrapper,
#index #main .rectangle-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 5%;
}
@media screen and (min-width: 768px) {
  #index #main .square-wrapper,
  #index #main .rectangle-wrapper {
    width: calc(50% - 2.5%);
  }
}
#index #main .blog .square-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 5%;
}

#index #main .square-wrapper::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#index #main .square-wrapper img,
#index #main .square-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  object-fit: cover;
}
