@charset "UTF-8";
html {
  font-size: 62.5%;
  /*10px(root)*/
  overflow-y: scroll;
}

img, iframe {
  width: 100%;
}

body {
  font-size: 1.4rem;
  /*basic(14px)*/
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  text-align: justify;
  word-break: break-all;
  line-height: 1.0;
  color: #191918;
  background-color: #E3E3E0;
}

.main {
  margin: 140px 40px 150px;
}

.content a {
  color: #00A99D;
}
.content__header-title {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.content__header-update-date {
  color: #AAA;
  font-size: 11px;
  margin-bottom: 22px;
}
.content__header-image {
  margin-bottom: 30px;
}
.content__section {
  margin-bottom: 80px;
}
.content__section:last-child {
  margin-bottom: 0;
}
.content__description {
  margin-bottom: 10px;
  line-height: 1.7;
  margin-top: -11.9px;
}

.section__header-image {
  margin-bottom: 30px;
}
.section__title-text {
  font-weight: bold;
  margin-bottom: 22px;
}
.section__label {
  margin-bottom: 12.6px;
}
.section__label--alert {
  color: #C1272D;
}
.section__label--alert:before {
  content: "※";
}
.section__label:last-child {
  margin-bottom: 0;
}
.section__sentence {
  line-height: 1.7;
  margin-top: -11.9px;
}
.section__schedule-image {
  margin-top: 22.6px;
}

.image-list__image {
  margin-bottom: 30px;
}
.image-list__image:last-child {
  margin-bottom: 0;
}

.lesson-section__content {
  margin-bottom: 22.6px;
}
.lesson-section__content-title {
  margin-bottom: 12.6px;
}
.lesson-section__content-title:before {
  content: "▼";
}
.lesson-section__content-labels {
  margin-bottom: 12.6px;
}
.lesson-section__content-labels:last-child {
  margin-bottom: 0;
}
.lesson-section__content-label {
  margin-bottom: 12.6px;
}
.lesson-section__content-label--annotation:before {
  content: "※";
}
.lesson-section__content-label:last-child {
  margin-bottom: 0;
}

.discography-text-section {
  position: relative;
}
.discography-text-section__amazon-logo {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3.6rem;
}
.discography-text-section__content {
  margin-bottom: 22.6px;
}
.discography-text-section__content:last-child {
  margin-bottom: 0;
}
.discography-text-section__content-label {
  margin-bottom: 12.6px;
}
.discography-text-section__content-label:last-child {
  margin-bottom: 0;
}
