@charset "UTF-8";

$debug-mode: 0; //1=>true
$headline-font: 'Ubuntu Condensed', sans-serif;
$text-basic-color: #191918;
$text-pale-color: #888;
$text-link-color: #00A99D;
$text-alert-color: #C1272D;
$background-color: #E3E3E0;
$image-margin-bottom: 30px;
$font-size-basic: 14px;
$sentence-line-height: 1.7;
$label-line-height: 12.6px; // use as margin-bottom
$label-margin-bottom: 10px;
$body-margin-horizontal:  40px;


html {
  font-size: 62.5%; /*10px(root)*/
  overflow-y: scroll;
}

img, video {
  width: 100%;
}

iframe {
  width: 100%;
  height: 100vw;
}

body {
  font-size: 1.4rem; /*basic(14px)*/
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  text-align: justify;
  word-break: break-all;
  box-sizing: border-box;

  line-height: 1.0;
  color: $text-basic-color;
  background-color: $background-color;
}


@mixin debug-border() {
  @if $debug-mode == 1 {
    border: 1px solid #000;
  }
}

@mixin headline-font($size) {
  font-family: $headline-font;
  font-size: $size;
  font-weight: bold;
}

@mixin sentence() {
  line-height: $sentence-line-height;
  margin-top: -(($font-size-basic * $sentence-line-height) / 2);
}

.main {
  margin: 140px 0 150px;
}


.content {
  margin-bottom: 80px;
  @include debug-border;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    color: $text-link-color;
    text-decoration: underline;
  }

  &__header-title {
    margin: 0 $body-margin-horizontal 8px;
    @include headline-font(3.4rem);
    @include debug-border;
  }

  &__header-update-date {
    color: $text-pale-color;
    font-size: 11px;
    margin: 0 $body-margin-horizontal 22px;
    @include debug-border;
  }

  &__header-image {
    margin-bottom: $image-margin-bottom;
  }

  &__section {
    margin-bottom: 80px;
    @include debug-border;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__image-list {
    margin-bottom: $image-margin-bottom;
  }

  &__description {
    margin: 0 $body-margin-horizontal 10px;
    @include sentence;
    @include debug-border;

    &--right {
      text-align: right;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.section {
  &__header-image {
    margin-bottom: $image-margin-bottom;
  }

  &__title-text {
    font-weight: bold;
    margin: 0 $body-margin-horizontal 18px;

    &--narrow-bottom {
      margin-bottom: 8px;
    }
  }

  &__update-date {
    color: $text-pale-color;
    font-size: 11px;
    margin: 0 $body-margin-horizontal 8px;
    @include debug-border;
  }

  &__label {
    margin: 0 $body-margin-horizontal $label-line-height;

    &--alert {
      color: $text-alert-color;

      &:before {
        content: "※";
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sentence {
    margin: 0 $body-margin-horizontal;
    @include sentence;
    @include debug-border;
  }

  &__schedule-image {
    margin-top: $label-line-height + $label-margin-bottom;
  }

  &__square-image-wrapper {
    position: relative;

    &:before {
      display: block;
      content: "";
      padding-top: 100%;
    }
  }

  &__square-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
  }
}


.biography-images {
  position: relative;
  margin-left: 6px;
  margin-right: 6px;

  &:before {
    display: block;
    content: "";
    padding-top: calc(4 / 3 * 100%);
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: ew-resize;
    margin: auto;
    object-fit: cover;
  }
}



$image-list-row-length: 2;
$image-list-image-margin: $image-margin-bottom;

.image-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 $body-margin-horizontal;

  &__image-li {
    position: relative;
    width: calc((100% - #{$image-list-image-margin}) / 2);
    margin-bottom: $image-list-image-margin;

    &:before {
      display: block;
      content: "";
      padding-top: 100%;
    }

    &:nth-child(odd) {
      margin-right: $image-list-image-margin;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
  }
}


.video-list {
  margin: 0 $body-margin-horizontal;

  &__video {
    margin-bottom: $image-margin-bottom;
  }
}


.lesson-section {
  &__content {
    margin-bottom: $label-line-height + $label-margin-bottom;
  }

  &__content-title {
    margin: 0 $body-margin-horizontal $label-line-height;

    &:before {
      content: "▼";
    }
  }

  &__content-labels {
    margin: 0 $body-margin-horizontal $label-line-height;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content-label {
    margin-bottom: $label-line-height;

    &--annotation {
      &:before {
        content: "※";
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.discography-text-section {
  position: relative;
  margin: 0 $body-margin-horizontal;

  &__amazon-logo {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3.6rem;
  }

  &__content {
    margin-bottom: $label-line-height + $label-margin-bottom;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__content-label {
    margin-bottom: $label-line-height;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.header {
  display: grid;
  position: fixed;
  top: 0;
  grid-auto-columns: 1fr min-content;
  padding: 14px;
  width: calc(100% - 28px);
  background-color: $background-color;
  z-index: 1000;

  &__title-text {
    grid-column: 1 / 2;
    @include headline-font(2.4rem);
    @include debug-border;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__nav {
    grid-column: 2 / 2;
    text-align: right;
    white-space: nowrap;
    @include debug-border;
  }

  &__nav-label {
    @include headline-font(2.0rem);
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sns-icons  {
    display: flex;
    margin-bottom: 25.5px;
  }

  &__sns-icon {
    font-size: 2.5rem;
    margin-left: 2.5rem;
  }
}


#hamburger-menu {
  &__check-box {
    display: none;
  }

  &__icon {
    cursor: pointer;
    font-size: 3.0rem;
    z-index: 1000;
    @include debug-border;
  }

  &__content {
    opacity: 0;
    display: none;
    display: block;
    position: absolute;
    pointer-events: none;
    top: 65px;
  	right: 14px;
  	text-align: right;
    z-index: 1000;
  }

  &__background {
    opacity: 0;
    pointer-events: none;
    background-color: rgba(200, 200, 200, 0.8);
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__check-box {

    &:checked ~ #hamburger-menu__content {
      opacity: 1.0;
      pointer-events: all;
    }

    &:checked ~ #hamburger-menu__background {
      opacity: 1.0;
      pointer-events: all;
    }
  }
}


.footer {
  background-color: #333;
  padding: 30px $body-margin-horizontal;

  a {
    color: $text-link-color;
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__nav-label {
    margin-bottom: 25.5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sns-icons  {
    display: flex;
    margin-bottom: 25.5px;
  }

  &__sns-icon {
    font-size: 2.5rem;
    margin-right: 2.5rem;
  }

  &__copyright {
    display: block;
    color: $text-pale-color;
    font-size: 1.1rem;
    text-align: center;
  }
}
